<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/styles/aboutus1.css">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<title>About us</title>
</head>

<body>

<div class="about-section">

<h1>About Us Page</h1>
<nav>
<a href='/'>HOME</a>
<a href='/logout'>LOGOUT</a>
</nav>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
<div class="column">
<div class="card">
<img src="../static/styles/vidhi.jpg" alt="vidhi" style="width:100%">
<div class="container">
<center><h2>Vidhi Khubchandani</h2></center>
<center><p class="title" style="font-weight:bold;color:black;">ML AND BACK-END DEVELOPER</p></center>
<p>Works in for backend development and artificial intelligence
While working, she was responsible for the data management,frontend part,backend part, building models and deployment of the website.
She has an experience working with it.
</p>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<center>
<a href="https://www.facebook.com/vidhi.khubchandani.94/" class="fa fa-facebook"></a>
<a href="https://twitter.com/Vidhi_388" class="fa fa-twitter"></a>
<a href="https://www.linkedin.com/in/vidhi-khubchandani-133646202/" class="fa fa-linkedin"></a>
<a href="https://www.instagram.com/khubchandanividhi/" class="fa fa-instagram"></a>
<a href ="mailto: khubchandanividhi613@gmail.com" class="fa fa-google"></a>
</center>

</div>
</div>
</div>
</div>
</body>
</html>