<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
    <title>HOME PAGE</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
    <div class="container my-1">
    <div class="row my-1">
        <span class="text1"><h2><b>POLICE SURVEILLANCE APP</b></h2></span>
        <span class="text2"><h1><b></b></h1></span>

    </div>
    </div>
    <div>

        <div class='user'><a href="/login"><button type="Go to login page">LOGIN / REGISTER AS USER</button></a></div>

    </div>


</body>
</html>