body {
    background-image:  url('./aboutus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    color: white;
  }

  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  nav{
    overflow: hidden;
}
nav a {
        text-decoration: none;
        padding: 20px;
        text-align: center;
        float: left;
        color: rgb(13, 13, 14);
        text-align: center;
        font-size: large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: inline-block;
    }
    h1 {
      margin: auto;
      font-size: large;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      position: relative;
      text-align: center;
      text-shadow: 3px 3px 2px darkblue;
      font-size: 90px;
      font-weight: bold;
      border-top: lightcoral;
      border-radius: 70px;
      border-color: rgb(20, 20, 20);
      border-width: 1px;
      border-radius: 0.5px;
      backdrop-filter: blur(5px);

  }
  p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
  }

  .fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa:hover {
      opacity: 0.9;
  }